*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    margin: 15px auto;
    width: 50%;
}

.card{
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}